.peopleText {
    animation: peopleTextIn 8s ease infinite;
}

@keyframes peopleTextIn {
    0% {
        transform: translateX(1000px);
        opacity: 0;
    }
    25% {
        transform: translateX(1000px);
        opacity: 0;
    }
    50% {
        transform: translateX(0);
        opacity: 1;
    }
    75% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(1000px);
        opacity: 0;
    }
}

.backgroundLine {
    animation-duration: 8s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.backgroundLine:nth-child(2n) {
    animation-name: oddBackgroundLineIn;
}

.backgroundLine:nth-child(2n + 1) {
    animation-name: evenBackgroundLineIn;
    animation-duration: 8s;
}

@keyframes oddBackgroundLineIn {
    0% {
        transform: translate(100%, 100%) rotate(45deg);
        opacity: 0;
    }
    25% {
        transform: translate(100%, 100%) rotate(45deg);
        opacity: 0;
    }
    50% {
        transform: translate(0) rotate(45deg);
        opacity: 0.25;
    }
    75% {
        transform: translate(0) rotate(45deg);
        opacity: 0.25;
    }
    100% {
        transform: translate(100%, 100%) rotate(45deg);
        opacity: 0;
    }
}

@keyframes evenBackgroundLineIn {
    0% {
        transform: translate(-100%, -100%) rotate(45deg);
        opacity: 0;
    }
    25% {
        transform: translate(-100%, -100%) rotate(45deg);
        opacity: 0;
    }
    50% {
        transform: translate(0) rotate(45deg);
        opacity: 0.25;
    }
    75% {
        transform: translate(0) rotate(45deg);
        opacity: 0.25;
    }
    100% {
        transform: translate(-100%, -100%) rotate(45deg);
        opacity: 0;
    }
}

.backgroundShapes .boxOutline {
    animation: transparency 8s ease infinite;
}

@keyframes transparency {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.backgroundText .toptext {
    animation: toptextanim 8s ease infinite;
}

@keyframes toptextanim {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }
    25% {
        transform: translateX(-1000px);
        opacity: 0;
    }
    50% {
        transform: translateX(0);
        opacity: 1;
    }
    75% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-1000px);
        opacity: 0;
    }
}

.backgroundText .bottomtext {
    animation: bottomtextanim 8s ease infinite;
}

@keyframes bottomtextanim {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }
    25% {
        transform: translateX(-1000px);
        opacity: 0;
    }
    50% {
        transform: translateX(0);
        opacity: 1;
    }
    75% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-1000px);
        opacity: 0;
    }
}

/* .firstClickAnim {
    animation: firstClickAnim 2s ease;
}

@keyframes firstClickAnim {
    0% {
        transform: translate(-50%, -50%) scale(1) translateY(-70px);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%) scale(1) translateY(0);
        opacity: 1;
    }
} */