.peopleText {
    animation: peopleTextIn 3s ease 1 forwards;
}

.clickedHTMLTitle, .clickedCSSTitle, .clickedJavascriptTitle, .clickedWebsiteTitle {
    animation: transparency 4s ease 1 forwards;
}

.clickedBoxOutlineTwo {
    animation: clickedBoxOutlineTwoAnimation 4s ease 1 forwards;
}

@keyframes clickedBoxOutlineTwoAnimation {
    0% {
        box-shadow:
        inset -30px 0 18px rgba(0, 81, 255, 0),
        inset 30px 0 18px rgba(255, 85, 0, 0),
        inset 0 -30px 18px rgba(0, 183, 255, 0),
        inset 0 30px 18px rgba(255, 234, 0, 0);
    }
    100% {
        box-shadow:
        inset -30px 0 18px rgba(0, 81, 255, 0.4),
        inset 30px 0 18px rgba(255, 85, 0, 0.4),
        inset 0 -30px 18px rgba(0, 183, 255, 0.4),
        inset 0 30px 18px rgba(255, 234, 0, 0.4);
    }
}

.clickedHTMLText {
    animation: clickedHTMLTextAnimation 4s ease 1 forwards;
}

@keyframes clickedHTMLTextAnimation {
    0% {
        transform: translate(-50%, -50%) translateX(-1500px);
    }
    100% {
        transform: translate(-50%, -50%) translateX(0);
        opacity: 1;
    }
} 

.clickedCSSText {
    animation: clickedCSSTextAnimation 4s ease 1 forwards;
}

@keyframes clickedCSSTextAnimation {
    0% {
        transform: translate(-50%, -50%) translateX(1500px);
    }
    100% {
        transform: translate(-50%, -50%) translateX(0);
        opacity: 1;
    }
}

.clickedJavascriptText {
    animation: clickedJavascriptTextAnimation 4s ease 1 forwards;
}

@keyframes clickedJavascriptTextAnimation {
    0% {
        transform: translate(-50%, -50%) translateY(-1500px);
    }
    100% {
        transform: translate(-50%, -50%) translateY(0);
        opacity: 1;
    }
}

.clickedWebsiteText {
    animation: clickedWebsiteTextAnimation 4s ease 1 forwards;
}

@keyframes clickedWebsiteTextAnimation {
    0% {
        transform: translate(-50%, -50%) translateY(1500px);
    }
    100% {
        transform: translate(-50%, -50%) translateY(0);
        opacity: 1;
    }
}

.clickedLineOne {
    animation: clickedLineOneAnimation 4s ease 1 forwards;
}

.clickedLineTwo {
    animation: clickedLineTwoAnimation 4s ease 1 forwards;
}

@keyframes clickedLineOneAnimation {
    0% {
        transform: translate(-50%, -50%) rotate(29.5deg) scaleX(0);
    }
    100% {
        transform: translate(-50%, -50%) rotate(29.5deg) scaleX(1);
    }
}

@keyframes clickedLineTwoAnimation {
    0% {
        transform: translate(-50%, -50%) rotate(-29.5deg) scaleX(0);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-29.5deg) scaleX(1);
    }
}

@keyframes peopleTextIn {
    0%, 25% {
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.backgroundLine {
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.backgroundLine:nth-child(2n) {
    animation-name: oddBackgroundLineIn;
}

.backgroundLine:nth-child(2n + 1) {
    animation-name: evenBackgroundLineIn;
}

@keyframes oddBackgroundLineIn {
    0%, 25% {
        transform: translate(100%, 100%) rotate(45deg);
        opacity: 0;
    }
    100% {
        transform: translate(0) rotate(45deg);
        opacity: 0.25;
    }
}

@keyframes evenBackgroundLineIn {
    0%, 25% {
        transform: translate(-100%, -100%) rotate(45deg);
        opacity: 0;
    }
    100% {
        transform: translate(0) rotate(45deg);
        opacity: 0.25;
    }
}

.backgroundShapes .boxOutline {
    animation: transparency 4s ease 1 forwards;
}

@keyframes transparency {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.backgroundText .toptext {
    animation: toptextanim 2.5s ease 1 forwards;
}

@keyframes toptextanim {
    0%, 25% {
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.backgroundText .bottomtext {
    animation: bottomtextanim 3s ease 1 forwards;
}

@keyframes bottomtextanim {
    0%, 25% {
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
